##**Python Commenting Basics**

In [ ]:
# This is a single comment. Welcome to Coding365!!!!

'''
This is a multi-line comment
Welcome to Coding365!!!
'''

print('Welcome to Coding365!!!')

Welcome to Coding365!!!

#**The if Statement**

In [ ]:
number = 10
if number > 20:
  print("the number is greater than 20")
print("END!")

END!

In [ ]:
number = 21
if number > 20:
  print("the number is greater than 20")
print("END!")

the number is greater than 20
END!

In [ ]:
number = 10
if number > 20:
  print("the number is greater than 20")
else:
  print("the number is less than 20")
print("END!")

the number is less than 20
END!

In [ ]:
input_score = input('please input your score: ')
input_score = float(input_score)
if input_score >= 90:
  print("Nice!")
elif input_score >= 60:
  print("Pass!")
else:
  print("Failed!!!")

please input your score: 59.9
Failed!!!

In [ ]:
input_score = input('please input your score: ')
input_score = float(input_score)
if input_score >= 90:
  print("Perfect")
elif input_score >= 80:
  print("Excellent")
elif input_score >= 70:
  print("Nice")
elif input_score >= 60:
  print("Pass!")
else:
  print("Failed!!!")

please input your score: 85
Excellent

In [ ]:
input_gender = input('please input your gender(f or m): ')

if input_gender == 'f' or input_gender == 'm':

  input_age = input('please input your age: ')
  is_int = input_age.isdigit()
  
  if is_int:
    input_age = int(input_age)

    if input_gender == 'f' and input_age < 30 :
      print("Hey! Young lady!")
    elif input_gender == 'm' and not input_age >= 30 :
      print("Hey! Young man!")
    else :
      print("Hey! Old people!")

  else:
    print("OH! Please input correct age!")

else :
  print("OH! Please input f(female) or m(male), thx!")

please input your gender(f or m): m
please input your age: 30
Hey! Old people!

#**The while Statement**

In [ ]:
timer = 5
while timer > 0: 
  print(timer)
  timer = timer - 1
else:
  print("Boom!")

5
4
3
2
1
Boom!

##**Use break command**

In [ ]:
while True:
  input_string = input("String to capitalize [type q to quit]:")
  if input_string == "q":
      print("quit the program !")
      break
  print(input_string.capitalize())  #capitalize method: change the letter into captical letter

String to capitalize [type q to quit]:abcdef
Abcdef
String to capitalize [type q to quit]:qwert
Qwert
String to capitalize [type q to quit]:q
quit the program !

##**Use continue command**

In [ ]:
while True:
  value = input("Integer, please [type q to quit]:")  #wait to type the number
  if value == "q":  # quit
    print("quit the program !")
    break
  number = int(value)
  if number % 2 == 0: # an even number 
    continue
  print(number, "squared is", number*number)

Integer, please [type q to quit]:5
5 squared is 25
Integer, please [type q to quit]:2
Integer, please [type q to quit]:q
quit the program !

In [ ]:
i = 0
while i < 5:
  i = i +1
  if i == 3:
    break
  print(i)

1
2

#**The for Statement**

In [ ]:
# for loop example 
for count in range(5, 0, -1):
  print(count)
else:
  print("Boom!")

5
4
3
2
1
Boom!

In [ ]:
for i in range(3):
  input_string = input("String to capitalize [type q to quit]:")
  if input_string == "q":
      print("quit the program !")
      break
  print(input_string.capitalize())  #capitalize method: change the letter into captical letter

String to capitalize [type q to quit]:a
A
String to capitalize [type q to quit]:v
V
String to capitalize [type q to quit]:q
quit the program !

In [ ]:
for i in range(3):
  value = input("Integer, please [type q to quit]:")  #wait to type the number
  if value == "q":  # quit
    print("quit the program !")
    break
  number = int(value)
  if number % 2 == 0: # an even number 
    continue
  print(number, "squared is", number*number)

Integer, please [type q to quit]:2
Integer, please [type q to quit]:3
3 squared is 9
Integer, please [type q to quit]:4

#**Practice**

In [ ]:
# triangle shape
for i in range(1, 10):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
# triangle shape
for i in range(1, 10):
  print(" "*(10-i) + "*"*i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [ ]:
space = 9
for i in range(1, 18, 2):
  print(" "*space + i*"*")
  space = space -1

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [ ]:
for i in range(1, 10):
  print(" "*(10 - i) + "*"*i + "*"*(i-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

## if you finish all practices, try to print the shape of Christmas tree.

In [12]:
for i in range(2, 5):
  for j in range(1, i*2):
      print(" "*(5*2-1-j)+"*"*(j*2-1))

        *
       ***
      *****
        *
       ***
      *****
     *******
    *********
        *
       ***
      *****
     *******
    *********
   ***********
  *************

## if you finish all practices, try to print the shape of Diamond.

In [20]:
for i in range(1, 11):
  print(" "*(11-1-i)+"*"*(i*2-1))
for i in range(1, 10):
  print(" "*i+"*"*((10-i)*2-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

## if you finish all practices, try to design the program that the user input a number n, then design the multiplication table of n*n

In [32]:
number = int(input("please input a number: ")) 
for i in range(1, number+1):
  for j in range(0, number+1):
    print(i,"*",j," = ",i*j)

please input a number: 4
1 * 0  =  0
1 * 1  =  1
1 * 2  =  2
1 * 3  =  3
1 * 4  =  4
2 * 0  =  0
2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
3 * 0  =  0
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
4 * 0  =  0
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16